# Node.js Dependencies
/node_modules
/node_modules_b
/node_modules_backupnpm-debug.log
yarn-debug.log
yarn-error.log

# Angular Build Output
/dist/
/out-tsc/

# Angular Environment Files
/src/environments/environment.prod.ts
/src/environments/environment.ts

# VS Code directory
.vscode/

# Logs
*.log

# Operating System files
.DS_Store
Thumbs.db

# MongoDB data (if you're using a local instance for development)
db/

# Miscellaneous
*.bak
*.tmp

# IDE files
.idea/
.vscode/

# Dependencies
package-lock.json
yarn.lock

# Environment files
.env
