<div id="header">
  <h1>Cloud Computing Public Chat Room</h1>
    <i class="user-count"><strong>Active Users: {{userCount}}</strong></i>
</div>

<div id="chatArea" #chatContainer>
  <div class="chat-container" *ngFor="let chat of chatData">
    <p class="chatArea__text">
      <span class="name">{{ chat.name }}:</span>
      <span class="timestamp">{{ formatTimestamp(chat.timestamp) }}</span>
    </p>
    <p class="chatArea__text">
      <span class="message">{{ chat.message }}</span>
    </p>
  </div>
</div>

<div id="inputArea">
  <textarea
    id="inputArea__name"
    [(ngModel)]="name"
    maxlength="40"
    spellcheck="false"
    disabled
  ></textarea>
  <textarea
    id="inputArea__message"
    [(ngModel)]="message"
    maxlength="400"
    spellcheck="false"
    (keydown)="onMessageKeyDown($event)"
    (input)="onMessageInput()"
  ></textarea>
  <button
    id="inputArea__sendButton"
    [disabled]="isSendDisabled"
    (click)="sendMessage()"
  >
    Send
  </button>
</div>
